<style>
	/* Sections
	 * --------------------------------------- */
	#section0 img,
	#section1 img{
		margin: 20px 0 0 0;
	}
	#section2 img{
		margin: 20px 0 0 52px;
	}
	#section3 img{
		bottom: 0px;
		position: absolute;
		margin-left: -420px;
	}
	.intro p{
		width: 50%;
		margin: 0 auto;
		font-size: 1.5em;
	}
	.twitter-share-button{
		position: absolute;
		z-index: 99;
		right: 149px;
		top: 9px;
	}
</style>

<div id="fullpage">
	<div class="section " id="section0">
		<h1>fullPage.js</h1>
		<p>Create Beautiful Fullscreen Scrolling Websites</p>
    <h2><em>Demo page from fullPage.js' repo:</em> <a href="https://github.com/alvarotrigo/fullPage.js/blob/master/examples/demoPage.html">check it here</a></h2>
		<img src="http://alvarotrigo.com/fullPage/imgs/fullPage.png" alt="fullPage" />
	</div>
	<div class="section" id="section1">
	    <div class="slide">
			<div class="intro">
				<h1>Create Sliders</h1>
				<p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
				<img src="http://alvarotrigo.com/fullPage/imgs/slider.png" alt="slider" />
			</div>

		</div>
	    <div class="slide">
			<div class="intro">
				<img src="http://alvarotrigo.com/fullPage/imgs/1.png" alt="simple" />
				<h1>Simple</h1>
				<p>Easy to use. Configurable and customizable.</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<img src="http://alvarotrigo.com/fullPage/imgs/3.png" alt="Cool" />
				<h1>Cool</h1>
				<p>It just looks cool. Impress everybody with a simple and modern web design!</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<img src="http://alvarotrigo.com/fullPage/imgs/3.png" alt="Compatible" />
				<h1>Compatible</h1>
				<p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Example</h1>
			<p>HTML markup example to define 4 sections.</p>
			<img src="http://alvarotrigo.com/fullPage/imgs/example2.png" alt="example" />
		</div>
	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1>Working On Tablets</h1>
			<p>
				Designed to fit to different screen sizes as well as tablet and mobile devices.
				<br /><br /><br /><br /><br /><br />
			</p>
		</div>
		<img src="http://alvarotrigo.com/fullPage/imgs/tablets.png" alt="tablets" />
	</div>
</div>
