<div class="section">
  <h1> first slide </h1>
  <p> I belive I'm a slide. <br/>
    I belive I can move like one...
  </p>
</div>
<div class="section">Some section</div>
<div class="section">Some section</div>
<div class="section">Some section</div>
