<h2 id="title">Welcome to Ember-cli-fullpagejs's dummy application.js</h2>


<p>
  This page does not use full page js.
</p>

<div style="height: 1200px;">
  Here is a super tall div
</div>

<p>
  you can now checkout the other pages: {{#link-to "fullpage"}} basic fullpage {{/link-to}} &amp; {{#link-to "demo-page"}} demo page from fullpage.js {{/link-to}}
</p>
